* { margin:0; padding: 0; 
	font-family: 'helvetica neue', sans-serif; 
	line-height: 1.5em;  
	color: #444;
}

#container {
	margin: auto;
	width: 960px;
	margin-top: 1.5em;
}

textarea, input[type=text] {
	width: 27em;
}

textarea {
	height: 150px;	
}

textarea, input {
	font-size: 16px;
	margin-top: .75em;
	padding: .5em;
	border: 2px solid #ccc;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.btn {
	-moz-box-shadow:  0 0 4px 4px #ccc;
	-webkit-box-shadow:  0 4px 4px #ccc;
	box-shadow:  1px 1px 1px #777;
}

.btn:active {
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	margin-top: 13px;
	margin-left: 1px;
	margin-bottom: -1px;
}

.btn {
	background: #ebebeb;
}

h1, h2 { margin-bottom: .5em; font-weight: 500; }

footer {
  margin-top: 1.5em; 
  float: left;
  clear: both;
}

quiet { font-size: .75em; color: #777;}


.list {
  float: left;
  width: 27em;
}

.push {
  margin-right: 76px;
  clear: left;
}

#ranked {
  display: none;
}

#ranker {
  display: none;
  margin-bottom: 1em;
}

#undo {
  display: none;
}
